a {
  width: 500px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 220px;
  margin: 40px auto;
}

.contact-btn {
  padding: 12px 18px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}

/* Different color styles */
.call-btn {
  background: #2d7efc;
  color: white;
}

.whatsapp-btn {
  background: #25d366;
  color: white;
}

.gmail-btn {
  background: #d44638;
  color: white;
}

.sms-btn {
  background: #444;
  color: white;
}

/* Hover effect */
.contact-btn:hover {
  transform: translateY(-3px);
  opacity: 0.9;
}
